--markup markdown
--markup-provider=redcarpet
--output-dir doc/api
--plugin mruby
--plugin coderay

src/**/*.c
mrblib/**/*.rb
include/**/*.h

mrbgems/*/src/**/*.c
mrbgems/*/mrblib/**/*.rb
mrbgems/*/include/**/*.h
-
AUTHORS
MITL
CONTRIBUTING.md
doc/guides/*.md
